.background {
 width: 570px;
 height: 100%;
 color: aliceblue;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.background-image {
 width: 100%;
 height: 100vh;
 background-size: cover;
 filter: blur(2.7px);
 object-fit: fill;
 object-position: center;
 position: fixed;
 top: 0;
 left: 0;
 z-index: -1; 
}

.buttons {
 width: 100%;
 display: flex;
 justify-content: space-around;
}

.buttons-text {
 margin-top: 2.3rem;
 font-style: italic;
}

.button {
 background-color: rgba(255, 255, 255, 0);
 border: none;
 font-weight: 700;
 font-size: 4rem;
 color:aliceblue;
 cursor: pointer;
 outline: none;
}

.button:hover {
 transition: ease-in-out;
 transform: scale(1.1);
 color: white;
}

@media (max-width: 700px) {
 .background {
   width: 80%;
 }
}